body {background-color: blue;
}
button, [type='submit']{
    background-color: green;
    color: aliceblue;
    font-weight: bold;
    border-radius: 40%;
    padding: 10px 35px;
}
.page-header img {
    display:block;
    margin: 0 auto;
    width: 21rem;
    margin-bottom: 2%;
}

label {
    font-size: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 8.1rem;
    height: 22rem;
    background-color: white;
    border: 5px black solid;
    box-shadow: 4px 4px 19px black;
    margin: 2.3%;
}

.card img {
    width: 60%;
    margin: 20px auto 0;
}

.card h3 {
    font-size: .75rem;
    text-align: center;
}

.item-container {
    display: flex;
    flex-flow:  row wrap;
    justify-content: space-around;
    margin: 0 10rem;
}

.bttn-container {
    text-align: center;
}